<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.papla.cloud.admin.hr.mapper.PostMapper">

	<sql id="columns">
		T.POST_ID postId ,
		T.POST_CODE postCode ,
		T.POST_NAME postName ,
		T.POST_DESC postDesc ,
		T.POST_LEVEL postLevel ,
		T.DEPT_ID deptId ,
		T.ORG_ID orgId ,
		T.ENABLED enabled ,
		T.CREATE_DT createDt ,
		T.CREATE_BY createBy ,
		T.UPDATE_DT updateDt ,
		T.UPDATE_BY updateBy 
	</sql>

	<!-- 根据查询信息获取信息总数量 -->
	<select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) from papla_hr_posts T where 1=1
	</select>

	<!-- 根据参数查询所有数据 -->
	<select id="findAll" resultType="com.papla.cloud.admin.hr.domain.Post" parameterType="java.util.Map">
		select 
			<include refid="columns"/>,
			(select count(ea.emp_id) from papla_hr_emps_asg ea where ea.post_id = t.post_id) subEmpCount
		from papla_hr_posts T where 1=1
        <if test="deptId != null and deptId != ''"> and T.DEPT_ID = #{deptId,jdbcType=VARCHAR}</if>
        <if test="orgId != null and orgId != ''"> and T.ORG_ID = #{orgId,jdbcType=VARCHAR}</if>
		<if test="postCode != null and postCode != ''"> and T.POST_CODE like concat('%',#{postCode,jdbcType=VARCHAR},'%')</if>
		<if test="postName != null and postName != ''"> and T.POST_NAME like concat('%',#{postName,jdbcType=VARCHAR},'%')</if>
		<if test="postDesc != null and postDesc != ''"> and T.POST_DESC like concat('%',#{postDesc,jdbcType=VARCHAR},'%')</if>
		<if test="postLevel != null and postLevel != ''"> and T.POST_LEVEL = #{postLevel,jdbcType=VARCHAR}</if>
		<if test="enabled != null and enabled != ''"> and T.ENABLED = #{enabled,jdbcType=VARCHAR}</if>
	</select>

	<!-- 根据id获取一条数据-->
	<select id="selectByPK" resultType="com.papla.cloud.admin.hr.domain.Post" parameterType="java.util.Map">
		select
			<include refid="columns"/>
		from papla_hr_posts T
		where  T.POST_ID = #{postId,jdbcType=VARCHAR}  
	</select>

	<!-- 根据参数获取一条数据 -->
	<select id="selectByPropertys" resultType="com.papla.cloud.admin.hr.domain.Post" parameterType="java.util.Map">
		select
			<include refid="columns"/>
		from papla_hr_posts T
		where 1=1
	</select>

	<!-- 添加一条数据 -->
	<insert id="insert" parameterType="com.papla.cloud.admin.hr.domain.Post">
		insert into papla_hr_posts
		<trim prefix="(" suffix=")" suffixOverrides=",">
	 		<if test="postId != null">POST_ID,</if>
	 		<if test="postCode != null">POST_CODE,</if>
	 		<if test="postName != null">POST_NAME,</if>
	 		<if test="postDesc != null">POST_DESC,</if>
	 		<if test="postLevel != null">POST_LEVEL,</if>
	 		<if test="deptId != null">DEPT_ID,</if>
	 		<if test="orgId != null">ORG_ID,</if>
	 		<if test="enabled != null">ENABLED,</if>
	 		<if test="createDt != null">CREATE_DT,</if>
	 		<if test="createBy != null">CREATE_BY,</if>
	 		<if test="updateDt != null">UPDATE_DT,</if>
	 		<if test="updateBy != null">UPDATE_BY,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="postId != null">#{postId,jdbcType=VARCHAR},</if>
			<if test="postCode != null">#{postCode,jdbcType=VARCHAR},</if>
			<if test="postName != null">#{postName,jdbcType=VARCHAR},</if>
			<if test="postDesc != null">#{postDesc,jdbcType=VARCHAR},</if>
			<if test="postLevel != null">#{postLevel,jdbcType=VARCHAR},</if>
			<if test="deptId != null">#{deptId,jdbcType=VARCHAR},</if>
			<if test="orgId != null">#{orgId,jdbcType=VARCHAR},</if>
			<if test="enabled != null">#{enabled,jdbcType=VARCHAR},</if>
			<if test="createDt != null">#{createDt,jdbcType=TIMESTAMP},</if>
			<if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
			<if test="updateDt != null">#{updateDt,jdbcType=TIMESTAMP},</if>
			<if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
		</trim>
	</insert>

	<!-- 修改一条数据 -->
	<update id="update" parameterType="com.papla.cloud.admin.hr.domain.Post">
		update papla_hr_posts T
		<set>
			<if test="postId != null">POST_ID = #{postId,jdbcType=VARCHAR},</if>
			<if test="postCode != null">POST_CODE = #{postCode,jdbcType=VARCHAR},</if>
			<if test="postName != null">POST_NAME = #{postName,jdbcType=VARCHAR},</if>
			<if test="postDesc != null">POST_DESC = #{postDesc,jdbcType=VARCHAR},</if>
			<if test="postLevel != null">POST_LEVEL = #{postLevel,jdbcType=VARCHAR},</if>
			<if test="deptId != null">DEPT_ID = #{deptId,jdbcType=VARCHAR},</if>
			<if test="orgId != null">ORG_ID = #{orgId,jdbcType=VARCHAR},</if>
			<if test="enabled != null">ENABLED = #{enabled,jdbcType=VARCHAR},</if>
			<if test="updateDt != null">UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},</if>
			<if test="updateBy != null">UPDATE_BY = #{updateBy,jdbcType=VARCHAR},</if>
		</set>
		where  T.POST_ID = #{postId,jdbcType=VARCHAR}  
	</update>

	<!-- 根据参数删除 -->
	<delete id="deleteByParams" parameterType="java.util.Map">
		delete from papla_hr_posts where 1=1
	</delete>
	
	<!-- 根据ids数组删除 -->
	<delete id="deleteByIds" parameterType="java.util.Map">
		delete from papla_hr_posts where 1=1
		<foreach collection="list" item="id" index="index" open=" and POST_ID in(" close=")" separator=",">
			#{id,jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	<!-- 根据实体删除一条数据 -->
	<delete id="delete" parameterType="com.papla.cloud.admin.hr.domain.Post">
		delete from papla_hr_posts 
		where  POST_ID = #{postId,jdbcType=VARCHAR}  
	</delete>

    <insert id="insertEmpPostAsg" parameterType="java.util.Map">
        insert into papla_hr_emps_asg(
        ASG_ID,
        EMP_ID,
        POST_ID,
        DEPT_ID,
        ORG_ID,
        ENABLED,
        CREATE_DT,
        CREATE_BY,
        UPDATE_DT,
        UPDATE_BY
        )(select
        UUID(),
        HE.EMP_ID,
        HP.POST_ID,
        HP.DEPT_ID,
        HP.ORG_ID,
        'Y',
        now(),
        #{userId,jdbcType=VARCHAR},
        now(),
        #{userId,jdbcType=VARCHAR}
        from papla_hr_posts hp,papla_hr_emps he
        where hp.post_id  = #{postId,jdbcType=VARCHAR}
        <foreach collection="empIds" item="id" index="index" open=" and he.EMP_ID in(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
        )

    </insert>

    <delete id="deleteEmpPostAsg" parameterType="java.util.Map">
        delete from papla_hr_emps_asg
        where post_id  = #{postId,jdbcType=VARCHAR}
        <foreach collection="empIds" item="id" index="index" open=" and emp_id in(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>


</mapper>