<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.papla.cloud.generate.module.mapper.ModuleColumnMapper">

    <!-- 根据查询信息获取信息总数量 -->
    <select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from papla_module_column T where 1=1
    </select>

    <!-- 根据参数查询所有数据 -->
    <select id="findAll" resultType="com.papla.cloud.generate.module.domain.ModuleColumn" parameterType="java.util.Map">
        select
        T.ID id ,
        T.PROJECT_ID projectId ,
        T.MODULE_ID moduleId ,
        T.TABLE_ID tableId ,
        T.TABLE_NAME tableName ,
        T.COLUMN_NAME columnName ,
        T.ALIAS_NAME aliasName ,
        T.COLUMN_TYPE columnType ,
        T.KEY_TYPE keyType ,
        T.EXTRA extra ,
        T.REMARK remark ,
        T.NOT_NULL notNull ,
        T.LIST_SHOW listShow ,
        T.FORM_SHOW formShow ,
        T.FORM_TYPE formType ,
        T.QUERY_TYPE queryType ,
        T.QUERY_WAY queryWay ,
        T.SORT sort ,
        T.CREATE_DT createDt ,
        T.CREATE_BY createBy ,
        T.UPDATE_DT updateDt ,
        T.UPDATE_BY updateBy ,
        T.DICT_NAME dictName ,
        T.DATA_URL dataUrl
        from papla_module_column T where 1=1
        <if test="tableId != null and tableId != ''">and T.TABLE_ID = #{tableId,jdbcType=VARCHAR}</if>
        ORDER BY T.SORT ASC
    </select>

    <!-- 根据id获取一条数据-->
    <select id="selectByPK" resultType="com.papla.cloud.generate.module.domain.ModuleColumn" parameterType="java.lang.String">
        select
        T.ID id ,
        T.PROJECT_ID projectId ,
        T.MODULE_ID moduleId ,
        T.TABLE_ID tableId ,
        T.TABLE_NAME tableName ,
        T.COLUMN_NAME columnName ,
        T.ALIAS_NAME aliasName ,
        T.COLUMN_TYPE columnType ,
        T.KEY_TYPE keyType ,
        T.EXTRA extra ,
        T.REMARK remark ,
        T.NOT_NULL notNull ,
        T.LIST_SHOW listShow ,
        T.FORM_SHOW formShow ,
        T.FORM_TYPE formType ,
        T.QUERY_TYPE queryType ,
        T.QUERY_WAY queryWay ,
        T.SORT sort ,
        T.CREATE_DT createDt ,
        T.CREATE_BY createBy ,
        T.UPDATE_DT updateDt ,
        T.UPDATE_BY updateBy ,
        T.DICT_NAME dictName ,
        T.DATA_URL dataUrl
        from papla_module_column T
        where T.ID = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据参数获取一条数据 -->
    <select id="selectByPropertys" resultType="com.papla.cloud.generate.module.domain.ModuleColumn"
            parameterType="java.util.Map">
        select
        T.ID id ,
        T.PROJECT_ID projectId ,
        T.MODULE_ID moduleId ,
        T.TABLE_ID tableId ,
        T.TABLE_NAME tableName ,
        T.COLUMN_NAME columnName ,
        T.ALIAS_NAME aliasName ,
        T.COLUMN_TYPE columnType ,
        T.KEY_TYPE keyType ,
        T.EXTRA extra ,
        T.REMARK remark ,
        T.NOT_NULL notNull ,
        T.LIST_SHOW listShow ,
        T.FORM_SHOW formShow ,
        T.FORM_TYPE formType ,
        T.QUERY_TYPE queryType ,
        T.QUERY_WAY queryWay ,
        T.SORT sort ,
        T.CREATE_DT createDt ,
        T.CREATE_BY createBy ,
        T.UPDATE_DT updateDt ,
        T.UPDATE_BY updateBy ,
        T.DICT_NAME dictName ,
        T.DATA_URL dataUrl
        from papla_module_column T
        where 1=1
    </select>

    <!-- 添加一条数据 -->
    <insert id="insert" parameterType="com.papla.cloud.generate.module.domain.ModuleColumn">
        insert into papla_module_column
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="projectId != null">PROJECT_ID,</if>
            <if test="moduleId != null">MODULE_ID,</if>
            <if test="tableId != null">TABLE_ID,</if>
            <if test="tableName != null">TABLE_NAME,</if>
            <if test="columnName != null">COLUMN_NAME,</if>
            <if test="aliasName != null">ALIAS_NAME,</if>
            <if test="columnType != null">COLUMN_TYPE,</if>
            <if test="keyType != null">KEY_TYPE,</if>
            <if test="extra != null">EXTRA,</if>
            <if test="remark != null">REMARK,</if>
            <if test="notNull != null">NOT_NULL,</if>
            <if test="listShow != null">LIST_SHOW,</if>
            <if test="formShow != null">FORM_SHOW,</if>
            <if test="formType != null">FORM_TYPE,</if>
            <if test="queryType != null">QUERY_TYPE,</if>
            <if test="queryWay != null">QUERY_WAY,</if>
            <if test="sort != null">SORT,</if>
            <if test="createDt != null">CREATE_DT,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="updateDt != null">UPDATE_DT,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="dictName != null">DICT_NAME,</if>
            <if test="dataUrl != null">DATA_URL,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="projectId != null">#{projectId,jdbcType=VARCHAR},</if>
            <if test="moduleId != null">#{moduleId,jdbcType=VARCHAR},</if>
            <if test="tableId != null">#{tableId,jdbcType=VARCHAR},</if>
            <if test="tableName != null">#{tableName,jdbcType=VARCHAR},</if>
            <if test="columnName != null">#{columnName,jdbcType=VARCHAR},</if>
            <if test="aliasName != null">#{aliasName,jdbcType=VARCHAR},</if>
            <if test="columnType != null">#{columnType,jdbcType=VARCHAR},</if>
            <if test="keyType != null">#{keyType,jdbcType=VARCHAR},</if>
            <if test="extra != null">#{extra,jdbcType=VARCHAR},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
            <if test="notNull != null">#{notNull,jdbcType=VARCHAR},</if>
            <if test="listShow != null">#{listShow,jdbcType=VARCHAR},</if>
            <if test="formShow != null">#{formShow,jdbcType=VARCHAR},</if>
            <if test="formType != null">#{formType,jdbcType=VARCHAR},</if>
            <if test="queryType != null">#{queryType,jdbcType=VARCHAR},</if>
            <if test="queryWay != null">#{queryWay,jdbcType=VARCHAR},</if>
            <if test="sort != null">#{sort,jdbcType=INTEGER},</if>
            <if test="createDt != null">#{createDt,jdbcType=TIMESTAMP},</if>
            <if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
            <if test="updateDt != null">#{updateDt,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
            <if test="dictName != null">#{dictName,jdbcType=VARCHAR},</if>
            <if test="dataUrl != null">#{dataUrl,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!-- 修改一条数据 -->
    <update id="update" parameterType="com.papla.cloud.generate.module.domain.ModuleColumn">
        update papla_module_column T
        <set>
            <if test="projectId != null">PROJECT_ID = #{projectId,jdbcType=VARCHAR},</if>
            <if test="moduleId != null">MODULE_ID = #{moduleId,jdbcType=VARCHAR},</if>
            <if test="tableId != null">TABLE_ID = #{tableId,jdbcType=VARCHAR},</if>
            <if test="tableName != null">TABLE_NAME = #{tableName,jdbcType=VARCHAR},</if>
            <if test="columnName != null">COLUMN_NAME = #{columnName,jdbcType=VARCHAR},</if>
            <if test="aliasName != null">ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},</if>
            <if test="columnType != null">COLUMN_TYPE = #{columnType,jdbcType=VARCHAR},</if>
            <if test="keyType != null">KEY_TYPE = #{keyType,jdbcType=VARCHAR},</if>
            <if test="extra != null">EXTRA = #{extra,jdbcType=VARCHAR},</if>
            <if test="remark != null">REMARK = #{remark,jdbcType=VARCHAR},</if>
            <if test="notNull != null">NOT_NULL = #{notNull,jdbcType=VARCHAR},</if>
            <if test="listShow != null">LIST_SHOW = #{listShow,jdbcType=VARCHAR},</if>
            <if test="formShow != null">FORM_SHOW = #{formShow,jdbcType=VARCHAR},</if>
            <if test="formType != null">FORM_TYPE = #{formType,jdbcType=VARCHAR},</if>
            <if test="queryType != null">QUERY_TYPE = #{queryType,jdbcType=VARCHAR},</if>
            <if test="queryWay != null">QUERY_WAY = #{queryWay,jdbcType=VARCHAR},</if>
            <if test="sort != null">SORT = #{sort,jdbcType=INTEGER},</if>
            <if test="updateDt != null">UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy,jdbcType=VARCHAR},</if>
            <if test="dictName != null">DICT_NAME = #{dictName,jdbcType=VARCHAR},</if>
            <if test="dataUrl != null">DATA_URL = #{dataUrl,jdbcType=VARCHAR},</if>
        </set>
        where T.ID = #{id,jdbcType=VARCHAR}
    </update>

    <!-- 根据参数删除 -->
    <delete id="deleteByParams" parameterType="java.util.Map">
        delete from papla_module_column where 1=1
    </delete>

    <!-- 根据ids数组删除 -->
    <delete id="deleteByIds" parameterType="java.util.Map">
        delete from papla_module_column
        where 1=1
        <foreach collection="list" item="id" index="index" open=" and ID in(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!-- 根据实体删除一条数据 -->
    <delete id="delete" parameterType="com.papla.cloud.generate.module.domain.ModuleColumn">
        delete from papla_module_column where ID = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>