<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.papla.cloud.workflow.cfg.mapper.MessageMapper">

	<sql id="columns">
		T.MES_ID mesId ,
		T.MES_CODE mesCode ,
		T.MES_LANG mesLang ,
		T.MES_CONTENT mesContent ,
		T.CREATE_DT createDt ,
		T.CREATE_BY createBy ,
		T.UPDATE_DT updateDt ,
		T.UPDATE_BY updateBy 
	</sql>

	<!-- 根据查询信息获取信息总数量 -->
	<select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) from papla_wf_messages T where 1=1
	</select>

	<!-- 根据参数查询所有数据 -->
	<select id="findAll" resultType="com.papla.cloud.workflow.cfg.domain.Message" parameterType="java.util.Map">
		select 
			<include refid="columns"/> 
		from papla_wf_messages T where 1=1
		<if test="mesLang != null and mesLang != ''"> and T.MES_LANG = #{mesLang,jdbcType=VARCHAR}</if>
	</select>

	<!-- 根据id获取一条数据-->
	<select id="selectByPK" resultType="com.papla.cloud.workflow.cfg.domain.Message" parameterType="java.util.Map">
		select
			<include refid="columns"/>
		from papla_wf_messages T
		where  T.MES_ID = #{mesId,jdbcType=VARCHAR}  
	</select>

	<!-- 根据参数获取一条数据 -->
	<select id="selectByPropertys" resultType="com.papla.cloud.workflow.cfg.domain.Message" parameterType="java.util.Map">
		select
			<include refid="columns"/>
		from papla_wf_messages T
		where 1=1
	</select>

    <select id="getMessageContent" resultType="java.lang.String">
        select mes_content from papla_wf_messages where MES_CODE= #{messageCode,jdbcType=VARCHAR} AND mes_lang = #{language,jdbcType=VARCHAR}
    </select>

    <!-- 添加一条数据 -->
	<insert id="insert" parameterType="com.papla.cloud.workflow.cfg.domain.Message">
		insert into papla_wf_messages
		<trim prefix="(" suffix=")" suffixOverrides=",">
	 		<if test="mesId != null">MES_ID,</if>
	 		<if test="mesCode != null">MES_CODE,</if>
	 		<if test="mesLang != null">MES_LANG,</if>
	 		<if test="mesContent != null">MES_CONTENT,</if>
	 		<if test="createDt != null">CREATE_DT,</if>
	 		<if test="createBy != null">CREATE_BY,</if>
	 		<if test="updateDt != null">UPDATE_DT,</if>
	 		<if test="updateBy != null">UPDATE_BY,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mesId != null">#{mesId,jdbcType=VARCHAR},</if>
			<if test="mesCode != null">#{mesCode,jdbcType=VARCHAR},</if>
			<if test="mesLang != null">#{mesLang,jdbcType=VARCHAR},</if>
			<if test="mesContent != null">#{mesContent,jdbcType=VARCHAR},</if>
			<if test="createDt != null">#{createDt,jdbcType=TIMESTAMP},</if>
			<if test="createBy != null">#{createBy,jdbcType=VARCHAR},</if>
			<if test="updateDt != null">#{updateDt,jdbcType=TIMESTAMP},</if>
			<if test="updateBy != null">#{updateBy,jdbcType=VARCHAR},</if>
		</trim>
	</insert>

	<!-- 修改一条数据 -->
	<update id="update" parameterType="com.papla.cloud.workflow.cfg.domain.Message">
		update papla_wf_messages T
		<set>
			<if test="mesId != null">MES_ID = #{mesId,jdbcType=VARCHAR},</if>
			<if test="mesCode != null">MES_CODE = #{mesCode,jdbcType=VARCHAR},</if>
			<if test="mesLang != null">MES_LANG = #{mesLang,jdbcType=VARCHAR},</if>
			<if test="mesContent != null">MES_CONTENT = #{mesContent,jdbcType=VARCHAR},</if>
			<if test="updateDt != null">UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},</if>
			<if test="updateBy != null">UPDATE_BY = #{updateBy,jdbcType=VARCHAR},</if>
		</set>
		where  T.MES_ID = #{mesId,jdbcType=VARCHAR}  
	</update>

	<!-- 根据参数删除 -->
	<delete id="deleteByParams" parameterType="java.util.Map">
		delete from papla_wf_messages where 1=1
	</delete>
	
	<!-- 根据ids数组删除 -->
	<delete id="deleteByIds" parameterType="java.util.Map">
		delete from papla_wf_messages where 1=1
		<foreach collection="list" item="id" index="index" open=" and MES_ID in(" close=")" separator=",">
			#{id,jdbcType=VARCHAR}
		</foreach>
	</delete>
	
	<!-- 根据实体删除一条数据 -->
	<delete id="delete" parameterType="com.papla.cloud.workflow.cfg.domain.Message">
		delete from papla_wf_messages 
		where  MES_ID = #{mesId,jdbcType=VARCHAR}  
	</delete>

</mapper>