<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.papla.cloud.workflow.engine.mapper.ProcessDeployPropertyMapper">

    <!-- 批量保存【流程属性】 -->
    <insert id="saveDeployProperty" parameterType="java.util.List">
        insert into papla_wf_deploy_attrs (
        process_id,deploy_id,property_code, property_name, property_value, create_by, create_dt
        )
        <foreach collection="list" item="item" index="index" separator="union all">
            (select #{item.parentId,jdbcType=VARCHAR},
            #{item.deployId,jdbcType=VARCHAR},
            #{item.propertyCode,jdbcType=VARCHAR},
            #{item.propertyName,jdbcType=VARCHAR},
            #{item.propertyValue,jdbcType=VARCHAR},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createDt,jdbcType=DATE}
            from wb_dual)
        </foreach>
    </insert>

    <!--根据【流程部署】获取【流程属性】列表  -->
    <select id="getPropertyListByDeployId" parameterType="java.lang.String"
            resultType="com.papla.cloud.workflow.engine.modal.DeployPropertyBean">
        select
        pro.process_id processId,
        pro.deploy_id deployId,
        pro.property_code propertyCode,
        pro.property_name propertyName,
        pro.property_value propertyValue
        from papla_wf_deploy_attrs pro
        where pro.deploy_id = #{deployId}
    </select>

</mapper>